@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Кинотеатр</title>
</head>
<body>
    <div>
        <h3>Распродажа книг</h3>
        <ul>
            <li><a href="/Home/Poster/@ViewBag.Number">Посмотреть сеансы</a></li>
            <li><a href="/Home/BuyTicket">Купить билет</a></li>
            <li><a href="/Home/ShowTickets">Просмотреть купленные билеты</a></li>
            <li><a href="/Home/Autorization">Ввойти</a></li>
        </ul>
    </div>
</body>
</html>