@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Книжный магазин</title>
</head>
<body>
    <div>
        <h3>Распродажа книг</h3>
        <table>
            <tr>
                <td><p>Название фильма</p></td>
                <td><p>Дата начала</p></td>
                <td><p>Цена</p></td>
                <td></td>
            </tr>
            @foreach (var s in ViewBag.Sessions)
            {
                <tr>
                    <td><p>@s.NameOfFilm</p></td>
                    <td><p>@s.TimeOfStart</p></td>
                    <td><p>@ViewBag.N</p></td>
                    <td><p><a href="/Home/Index">Вернуться</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>